#contacts {
  display: flex;
  height: 252px;
  min-width: 100%;
  background: var(--primary-bg-color);
}
.footer-container {
  display: flex;
  justify-content: left;
  max-height: 146px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
.footer-list {
  list-style-type: none;

  &__title {
    padding-bottom: 20px;
    color: var(--third-text-color);
  }
  &__title span {
    color: var(--primary-text-color);
  }
}
.footer__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  outline: none;
}
