.main {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  background-color: var(--primary-bg-color);

  &__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Фон_героя.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 200px;
  }

  &__title {
    display: inline-block;
    width: 696px;
    margin-left: 452px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
  }
}
