.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  list-style-type: none;
  margin-left: -30px;
  margin-top: -30px;

  &__link {
    outline: none;
  }

  &__item {
    width: calc(100% / 3 -30px);
    height: 404px;
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #eeeeee;
    outline: none;
  }
  &__card {
    position: relative;
    width: 370px;
    height: 294px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }

  &__card::before {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }
  &__card:hover:before,
  &__card:focus:before {
    opacity: 1;

    transform: translateY(0);
  }
  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    padding-top: 20px;
    padding-left: 24px;
    color: var(--header-color);
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.85;
    padding-left: 24px;
    color: var(--main-text-color);
  }
}
.overlay-text {
  display: block;
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  bottom: 63px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--third-text-color);

  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text:hover,
.overlay-text:focus {
  opacity: 1;
}
