.social-icons {
  margin-right: 10px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &-list {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
  &:nth-last-child(1n):hover,
  &__link:nth-last-child(1n):focus {
    background-color: #3f729b;
    outline-color: #3f729b;
  }
  &:nth-last-child(2n):hover,
  &__link:nth-last-child(2n):focus {
    background-color: #00acee;
    outline-color: #00acee;
  }
  &:nth-last-child(3n):hover,
  &__link:nth-last-child(3n):focus {
    background-color: #3b5998;
    outline-color: #3b5998;
  }
  &:nth-last-child(4n):hover,
  &__link:nth-last-child(4n):focus {
    background-color: #0e76a8;
    outline-color: #0e76a8;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;
  }
  &__svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
  &__svg:hover,
  &__svg:focus {
    fill: #fff;
  }
  .flex-item:nth-child(4n) {
    margin-right: 0;
  }
}
